@font-face {
  font-family: 'Starjedi';
  src: url('./fonts/Starjedi.ttf') format('truetype');
}

@font-face {
  font-family: 'Starjhol';
  src: url('./fonts/Starjhol.ttf') format('truetype');
}

h1{
  font-family: Starjhol;
  letter-spacing: 5px;
  font-size: 5em;
  color: #EEDB00;
  text-align: center;
  margin-top: 300px;
}

h3{
  font-family: Starjedi;
  letter-spacing: 4px;
  color: white;
}

.container{
  width: 80%;
  margin: 0 auto;
  position:relative;
  z-index:5;
}

.logo{
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Arial'
}

nav ul{
  float: right;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 30px;
}

nav a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}
